@import "tailwindcss";
/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";

@layer components {
  .col {
    @apply flex flex-col;
  }
  .row {
    @apply flex items-center;
  }
  h1 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }

  .h2 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
    font-weight: var(--font-weight-semibold, 600);
  }

  .h3 {
    @apply text-3xl;
  }

  .h4 {
    @apply text-2xl;
  }

  .h5 {
    @apply text-xl;
  }

  .link {
    @apply underline text-sky-500 hover:text-sky-200;
  }
  a:not(.clean) {
    @apply underline text-sky-500 hover:text-sky-200;
  }
  .page-link {
    @apply text-gray-500 hover:text-gray-700 px-3 py-2 hover:bg-gray-200 rounded items-center active:bg-gray-100 active:text-gray-600;
  }

  input[type="text"],
  input[type="number"] {
    @apply border-gray-300;
  }
  .btn {
    @apply py-2 px-4 bg-stone-50 hover:border-stone-200 rounded-lg border border-stone-100 cursor-pointer;
  }
  .danger {
    @apply text-red-500;
  }
  input[type="submit"]:not(.clean),
  button:not(.clean) {
    @apply py-2 px-4 bg-stone-50 hover:border-stone-200 rounded-lg border border-stone-100 cursor-pointer;
  }
  .filds_with_errors {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      @apply border-red-500 w-full;
    }
  }
}
