= form_with(model: page, data: { turbo_frame: '_top' }) do |form|
  div
    = form.text_field :title, palceholder: "Page title", class: 'h2 text-center -my-2', autofocus: true, onfocus: "this.select()"

